.title {
	font-family: Calibri;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	/* 38.4px */
	margin-top: 30px;
}

.text {
	margin-top: 20px;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 24px */
}
.text-recommend {
	text-align: center;
	font-family: Calibri;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 24px */
}

.carousel {
	margin-top: 4px;
	position: relative;
	aspect-ratio: 2;
	width: 100vh;
	border-radius: 30px;
}

.img-ratio {
	width: 100%;
	max-width: 100%;
	aspect-ratio: 2;
	object-fit: cover;
	object-position: 100% 10%;
	filter: brightness(65%);
}

.searchbar-home {
	margin-top: 10px;
	position: relative;
	width: 40vh !important;
}

.drink-title {
	font-family: Calibri;
	font-size: 32px;
	font-style: normal;
	font-weight: bolder;
}

.drink-text {
	font-family: Calibri;
	font-size: 20px;
	font-style: normal;
}

.align-left {
	font-weight: lighter;
	font-size: 20px;
}
